<!DOCTYPE html>

<html lang="zh-cn">

<head>
	<meta charset="utf-8">
	<title>Arknights-ui</title>
	<meta name="description" content="Arknights-ui">
	<meta name="originauthor" content="Mashiro">
	<meta name="author" content="xu_zh">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<link rel="stylesheet" href="css/normalize.css?v=1.0">
	<link rel="stylesheet" href="css/styles.css?v=1.0">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<style>
		/* loader */
		.loader-layer {
			background: #016d8d url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.7.0/img/other/avg_2_1.png) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 999;
		}

		.loader-layer .tips {
			font-family: 'Noto Sans SC', sans-serif;
			color: #fff;
			font-size: 2vh;
			font-weight: 500;
			pointer-events: auto;
			margin: 10px;
			position: fixed;
		}

		.loader {
			width: calc(100% + 100px);
			overflow-x: hidden;
			overflow-y: hidden;
			position: absolute;
			left: -50px;
		}

		.loader .bar {
			position: relative;
			height: 2px;
			width: 500px;
			margin: 0 auto;
			background: #fff;
			margin-top: 150px;
		}

		.loader .circle {
			position: absolute;
			top: -30px;
			margin-left: -30px;
			height: 60px;
			width: 60px;
			left: 0;
			background: #fff;
			border-radius: 30%;
			-webkit-animation: move 5s infinite;
		}

		.loader p {
			position: absolute;
			top: -35px;
			right: -85px;
			text-transform: uppercase;
			color: #016d8d;
			font-family: helvetica, sans-serif;
			font-weight: bold;
		}

		@-webkit-keyframes move {
			0% {
				left: 0;
			}

			50% {
				left: 100%;
				-webkit-transform: rotate(450deg);
				width: 150px;
				height: 150px;
			}

			75% {
				left: 100%;
				-webkit-transform: rotate(450deg);
				width: 150px;
				height: 150px;
			}

			100% {
				right: 100%;
			}
		}

	</style>

</head>

<body>
  <div class="loader-layer" id="loader-layer">
  	<div class="tips" id="github_pages_tips">Tips: 如果加载速度过慢可以使用代理（本页托管于 GitHub Pages）。</div>
  	<script>
		  var hostname = window.location.hostname;
		  if(hostname.search("github.io") == -1){
		  	document.getElementById("github_pages_tips").style = "display: none;";
		  }
    </script>
  	<div class="loader" id="loader">
  		<div class="bar">
  			<div class="circle"></div>
  			<p>Loading</p>
  		</div>
  	</div>
  </div>
<!--
-- originAuthor: Mashiro
-- Author: xu_zh, AKA ngc7331
-- License: MIT
-->
  <div id="app">
    <audio :src="bgm.src" id="bgm" @ended="bgmEnd()" :volume.prop="volume/100"></audio>
  	<header>
  		<div class="level-box-container">
  			<div class="level-box" id="level-box-adapter">
  				<div class="level-logo"></div>
  				<div class="user-level">
  					<div class="level-chart">
  						<div class="chart-bg" id="chart-bg"></div>
  						<div class="chart-pr" id="chart-pr"></div>
  						<div class="level-num" :style="level_num_style">{{userlv}}</div>
  					</div>
  				</div>
  				<div class="user-info">
  					<div class="name">{{username}}</div>
  					<div class="id">ID: {{userid}}</div>
  				</div>
  			</div>
  		</div>
  	</header>
  
  	<div id="view-box" class="view-box">
  		<div id="mark" class="mark" data-pointer-events="true">
  			<div id="bg-layer" class="layer" data-depth="0.0">
  				<img id="bg-img" class="cover" src="img/ui/UI_HOME_FRONT_BKG.png" alt=""/>
  			</div>
  			<div id="char-arts-layer" class="layer" data-depth="0.01">
  				<div class="char perspective box">
  					<img :src="char_src" alt=""/>
  				</div>
  			</div>
  			<div id="left-menu-layer" class="layer" data-depth="0.2">
  				<div class="left menu box">
  					<div class="container" id="left-mune-adapter">
  						<div class="top">
  							<div class="dialog">
  								<span id="dialog">{{dialog}}</span>
  							</div>
  						</div>
  						<div class="bottom">
  							<div class="left">
  								<div class="activity-img" id="activity_banner" style="background-position: -16px -10px"></div>
  							</div>
  							<div class="right">
  								<div class="pos-1" @click="boxSwitch('settingBox')" @MouseOver="setText('friends', true)" @MouseOut="setText('friends', false)">
  									<div class="friends">
  										<div class="icon"></div>
  										<div class="text">{{text.friends}}</div>
  									</div>
  								</div>
  								<div class="pos-2" @click="boxSwitch('infoBox')" @MouseOver="setText('information', true)" @MouseOut="setText('information', false)">
  									<div class="information">
  										<div class="icon"></div>
  										<div class="text">{{text.information}}</div>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		<div id="right-menu-layer" class="layer" data-depth="0.2">
  				<div class="right menu box">
  					<div class="popup" id="right-mune-popup-adapter"></div>
  					<div class="container" id="right-mune-adapter">
  						<div class="pos-1">
  							<div class="top">
  								<div class="line-left"></div>
  								<div class="battery"></div>
  								<div class="time" id="time">2019/06/05 22:33</div>
  								<div class="line-right"></div>
  							</div>
  							<div class="bottom">
  								<div class="bg"></div>
  								<div class="status">
  									<div class="item money">
  										<div class="icon"></div>
  										<div class="amount" id="money">{{money}}</div>
  									</div>
  									<div class="item jasper">
  										<div class="icon"></div>
  										<div class="amount" id="jasper">{{jasper}}</div>
  										<div class="more" @click="boxSwitch('settingBox')"></div>
  									</div>
  									<div class="item stone">
  										<div class="icon"></div>
  										<div class="amount" id="stone">{{stone}}</div>
  										<div class="more" @click="boxSwitch('settingBox')"></div>
  									</div>
  								</div>
  							</div>
  						</div>
  						<div class="pos-2" @click="playBGM(0)" @MouseOver="setText('battle', true)" @MouseOut="setText('battle', false)">
  							<div class="intellect">
  								<div class="icon"></div>
  								<div class="content">
  									<div class="figure" @click="boxSwitch('bgmBox'); playBGM(0)">
  										<div class="value" id="figure_value">{{figure_value}}</div>
  										<div class="total" id="figure_total">\{{figure_total}}</div>
  									</div>
  									<div class="battle">
  										<div class="text">{{text.battle}}</div>
  										<div class="current">当前</div>
  										<div class="level" id="battlelv">{{battlelv}}</div>
  									</div>
  								</div>
  							</div>
  						</div>
  						<div class="pos-3">
  							<div class="team" @click="boxSwitch('offsetBox')" @MouseOver="setText('team', true)" @MouseOut="setText('team', false)">
  								<div class="icon"></div>
  								<div class="text">{{text.team}}</div>
  							</div>
  							<div class="member" @click="boxSwitch('charBox')" @MouseOver="setText('member', true)" @MouseOut="setText('member', false)">
  								<div class="icon"></div>
  								<div class="text">{{text.member}}</div>
  								<div class="desc">角色管理</div>
  							</div>
  							<div class="blank"></div>
  						</div>
  						<div class="pos-4">
  							<div class="shop" @click="boxSwitch('devBox')">
  								<div class="icon"></div>
  								<div class="text">采购中心</div>
  							</div>
  							<div class="gamble">
  								<div class="top">
  									<div class="icon"></div>
  									<div class="text">招募</div>
  								</div>
  								<div class="bottom" @click="boxSwitch('devBox')">
  									<div class="left">
  										<div class="icon"></div>
  										<div class="text">公开招募</div>
  									</div>
  									<div class="right" @click="boxSwitch('devBox')">
  										<div class="icon"></div>
  										<div class="text">干员寻访</div>
  									</div>
  								</div>
  							</div>
  						</div>
  						<div class="pos-5">
  							<div class="task" @click="boxSwitch('devBox')">
  								<div class="icon"></div>
  								<div class="text">任务</div>
  							</div>
  							<div class="infrastructure" @click="boxSwitch('devBox')">
  								<div class="icon"></div>
  								<div class="text">基建</div>
  								<div class="beta"></div>
  							</div>
  							<div class="warehouse" @click="boxSwitch('devBox')">
  								<div class="icon"></div>
  								<div class="text">仓库</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		<div class="layer" id="middle-menu-layer" data-depth="0.3">
  		  <div class="middle menu box">
  		    <div :class="boxes.infoBox"> 
  				<ul class="text">
  					<li>原作者：mashirozx</li>
  					<a href="https://github.com/mashirozx/arknights-ui/" target="_blank"><img src="img/svg/github.svg" class="social-link"> GitHub </a> <a href="https://weibo.com/2960337711" target="_blank"><img src="img/svg/weibo.svg" class="social-link"> Weibo </a> <a href="https://2heng.xin/" target="_blank"><img src="img/svg/wordpress.svg" class="social-link"> Blog </a>
  					<li>修改：小造xu_zh</li>
  					<a href="https://github.com/ngc7331/arknights-ui-remastered" target="_blank"><img src="img/svg/github.svg" class="social-link"> GitHub </a> <a href="https://weibo.com/u/5393262685" target="_blank"><img src="img/svg/weibo.svg" class="social-link"> Weibo </a> <a href="https://ngc7331.site/" target="_blank"><img src="img/svg/wordpress.svg" class="social-link"> Blog </a>
  					<li style="font-size: 2vmin;">Main:
  						<ul>
  							<li>Version 2.0 Beta</li>
  							<li>Updated 2021/02/03</li>
  							<li>Copyright ©2019 <a href="https://github.com/mashirozx/arknights-ui/" target="_blank">Mashiro</a></li>
  							<li>Portions copyright ©2020 <a href="https://github.com/ngc7331/arknights-ui-remastered" target="_blank">xu_zh</a></li>
  							<li>Released under the <a href="https://github.com/ngc7331/arknights-ui-remastered/blob/master/LICENSE" target="_blank">MIT</a> License.</li>
  						</ul>
  					</li>
  					<br>
  					<li style="font-size: 2vmin;">Art：
  						<ul>
  							<li>Version 1.1.80</li>
  							<li>Updated 2020/08/25</li>
  							<li>Copyright ©2017 <a href="https://ak.hypergryph.com/" target="_blank">上海鹰角网络科技有限公司</a></li>
  						</ul>
  					</li>
  					<br>
  					<li style="font-size: 2vmin;">Audio：
  						<ul>
  							<li>Updated 2021/01/21</li>
  							<li>Powered by<a href="https://music.163.com" target="_blank"> 网易云音乐 </a></li>
  							<li>Copyright ©2017 <a href="https://ak.hypergryph.com/" target="_blank">上海鹰角网络科技有限公司</a></li>
  						</ul>
  					</li>
  				</ul>
  		    </div>
  		    <div :class="boxes.settingBox">
  				<ul class="text">
  					<li>昵称：<input type="text" v-model="username" maxlength="8"></li>
  					<li>ID：<input type="number" v-model="userid" maxlength="8"></li>
  					<li>Level：<input type="number" min="1" max="120" v-model="userlv"></li>
  					<li>作战进度：<input type="text" v-model="battlelv" maxlength="20"></li>
  					<li>龙门币：<input type="text" v-model="money"></li>
  					<li>合成玉：<input type="text" v-model="jasper"></li>
  					<li>至纯源石：<input type="text" v-model="stone"></li>
  					<li>对话：<textarea type="text" v-model="dialog" maxlength="90"></textarea></li>
  					<li>理智上限：<input type="number" v-model="figure_total"></li>
  					<button @click="boxSwitch('settingBox')">确认</button>
            <button onClick="reset()">重置内存</button>
  				</ul>
  			</div>
  			<div :class="boxes['charBox']" @click="boxSwitch('charBox')">
  				<iframe src="set_character.html" width="100%" height="500vh" scrolling="auto"></iframe>
  			</div>
  			<div :class="boxes['bgmBox']">
  				<ul class="text">
  					<li><div>正在播放：</div><div :style="bgm_name_style">{{bgm.name}}</div></li>
  					<div id="bgm_btn">
  						<li>
  							<button @click="changeBGM(-1)">上一首</button>
  				      <button @click="changeBGM(1)">下一首</button>
  							<button @click="changeBGM(0)">默认</button>
  						</li>
  						<!--<li>推荐歌单<input type="checkbox" id="ngc7331_selected_bgm" checked></li>-->
  						<li>单曲循环<input type="checkbox" v-model="bgm_loop"></li>
  			    	</div>
  					<br>
  					<li>0<input type="range" min="0" max="100" v-model="volume">100</li>
  					<li>当前音量：{{volume}}%</li>
  					<br>
  					<li style="font-size: 2vmin;">Tips: 可以使用[空格键]控制播放/暂停<br>[方向键↑/↓]控制音量大小<br>[方向键←/→]控制上下首哦</li>
  				</ul>
  			</div>
  			<div :class="boxes['offsetBox']">
  				<ul class="text">
  					<li>调整干员立绘位置<button @click="resetOffset()">重置</button></li>
  					<li>x轴<input type="range" min="-80" max="220" v-model="char_offsetX"></li>
  					<li>y轴<input type="range" min="-170" max="130" v-model="char_offsetY"></li>
            <li style="font-size: 1.5vmin;">重新打开页面可能导致立绘位置读取不成功，请按<button @click="setOffset()">读取</button></li>
  				</ul>
  			</div>
  			<div :class="boxes['devBox']">
  				<div class="text">
  					该区域正在开发中......
  				</div>
  			</div>
            </div>
  	    </div>
        </div>
  	</div>
  </div>

	<script>
		/* loader */
		(function() {
			document.querySelector('#loader').setAttribute('style', 'transform: scale(' + Math.max(window.innerHeight, window.innerWidth) / 1366 + ') translateY(-50%); top: 60%; transform-origin: top center;');
		})();

	</script>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<!--  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
	<script src="js/app.js"></script>
	<script src="js/src/jquery-3.5.0.min.js?v=1.0"></script>
	<script src="js/src/jquery.pjax.js?v=1.0"></script>
	<script src="js/src/GYST.js?v=1.0"></script>
	<script src="js/src/parallax.3.1.0.min.js?v=1.0"></script>
  <script src="js/scripts.js?v=1.1"></script>
	
  <script>
    //加载后读取数据
    data = [['volume', 'int'],
            ['username', 'str'],
            ['userid', 'int'],
            ['userlv', 'int'],
            ['battlelv', 'str'],
            ['money', 'str'],
            ['jasper', 'str'],
            ['stone', 'str'],
            ['dialog', 'str'],
            ['figure_total', 'int'],
            ['bgm_loop', 'bool'],
            ['bgm_index', 'int'],
            ['char_src', 'str'],
            ['char_offsetX', 'int'],
            ['char_offsetY', 'int'],
           ];
    for (var i = 0; i<data.length; i++) {
      var key = data[i][0];
      var type = data[i][1];
      if (localStorage.getItem(key) != null) {
        app[key] = localStorage.getItem(key);
        if (type == 'int') app[key] = parseInt(app[key]);
        else if (type == 'bool') app[key] = app[key] == 'true';  
      }
    }
    //关闭时保存数据
    var save_enabled = true;
    function reset () {
      save_enabled = false;
      localStorage.clear();
      window.location.reload();
    }
    window.onbeforeunload = function () {
      if(save_enabled){
        for (var i = 0; i<data.length; i++) {
          localStorage.setItem(data[i][0], app[data[i][0]]);
        }
      }
    }
    //窗口大小改变
    window.onresize = function () {
      window.location.reload();
    }
    //按键
    window.onkeydown = function (event) {
      if(app.boxes['settingBox'] == "container" && event.keyCode!=27) return; //打开设置界面后只相应esc键
      switch(event.keyCode){
        case 32: app.playBGM(2); break; //space
        case 38: app.volume = Math.min(app.volume+1, 100); break; //up
        case 40: app.volume = Math.max(app.volume-1, 0); break; //down
        case 37: app.changeBGM(-1); break; //left
        case 39: app.changeBGM(1); break; //right
        case 27: app.closeBoxes(); break; //esc
      }
    }
  </script>
</body>
</html>
